html {
  font-family: Poppins, sans-serif;
}

header, footer {
  background-color: #434996;
}

article {
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
}

nav li a:hover, nav li a:focus {
  font-weight: bold;
  color: orange;
  outline: 2px solid white;
}

body {
  background-color: white;
}

.current {
  font-weight: bold;
  border-bottom: 3px solid white;
}

.border-pup {
  border: 4px solid #434996;
}

.btn {
  background-color: #434996;
  border-color: #434996;
}

.btn:hover, btn:focus {
  background-color: #a7a8b7;
  border-color: #a7a8b7;
}

nav:hover, nav:focus {
  outline: 3px solid white;
}

footer a:hover, footer a:focus {
  color: orange;
  outline: 2px solid white;
}

footer {
  color: white;
}

nav ul li {
  margin-right: 1em;
  margin-left: 1em;
}

form {
  max-width: 25em;
  margin: 0 auto;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.already a {
  color: #434996;
}

.already a:hover, .already a:focus {
  color: orange;
  outline: 2px solid white;
}

img {
  max-height: 30em;
}

.sign-up-banner {
  position: relative;
}

.about-content {
  position: absolute;
  bottom: 2em;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
}

@media only screen and (min-width: 38em) {

  .pad-l {
    padding-left: 1em;
  }

  .pad-r {
    padding-right: 1em;
  }

  .quarter-img {
    object-fit: cover;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

}
