html {
  font-family: Poppins, sans-serif;
}

header, footer {
  background-color: blue;
}

article {
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  border-bottom: 3px solid white;
}

body {
  background-color: yellow;
}

@media only screen and (min-width: 38em) {

  .pad-l {
    padding-left: 1em;
  }

  .pad-r {
    padding-right: 1em;
  }

}
